/*NUTRICION PAGE*/
#nutricion {
    height: 100vh;
    background-color: #12130e;
     img{
        width: 600px;
        height: 450px;
        margin-right: 20px;
    }
    .nutricionh1{
        text-align: center;
        color: white;
        padding-top: 24px;
        margin-bottom: 28px;
    }
    .nutricioncontenedor{
        display: flex;
    }
    .nutriciontxt p{
        color: white;
        font-family: sans-serif;
    }
}

/*SISTEMA RESPONSIVE*/
@media (max-width: 800px){
    .nutricioncontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .nutricionimg img {
            width: 100vw;
        }
    }
}

@media (max-width: 620px){
    #nutricion {
        .nutricioncontenedor{
            img {
                width: 100%;
            }
        }

    }
}


@media (max-width: 600px){
    #nutricion{
        width: 100vw;
    }
    .nutricioncontenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    .nutricionimg {
            width: 100%;
        }
    }


@media (max-width: 515px){
    #nutricion{
        width: 100%;
    }
    .nutricioncontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    .nutricionimg img {
            width: 100vw;
        }
    }
}

@media (max-width: 480px){
    #nutricion{
        width: 100%;
    }
    .nutricioncontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    .nutricionimg img {
            width: 100vw;
        }
    }
}

@media (max-width: 400px){
    #nutricion{
        width: 100%;
    }
    .nutricioncontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    .nutricionimg img {
            width: 100%;
        }
    }
}

@media (max-width: 375px){
    #nutricion{
        width: 100%;
    }
    .nutricioncontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    .nutricionimg img {
            width: 100vw;
        }
    }
}