/*QUIENES SOMOS PAGE*/
#quienessomos{
    background-color: #12130e;
    height: 100vh;
img{
    width: 600px;
    margin-left: 40px;
    margin-right: 18px;
    }
h1{
        color: white;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 50px;
    }
.quienessomoscontenedor{
    display: flex;
    margin-right: 70px;
}
.quienessomostxt{
    color: white;
}
}
/*SISTEMA RESPONSIVE*/
@media (max-width: 889px){
    .quienessomoscontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .quienessomosimg img {
            width: 100vw;
        }
    }
}

@media (max-width: 800px){
    .quienessomoscontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        .quienessomosimg img {
            width: 100vw;
        }
    }
}

@media (max-width: 655px){
    #quienessomos{
        width: 100vw;
    .quienessomoscontenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    .quienessomosimg img{
        width: 400px;
        }
    }
}

@media (max-width: 600px){
    #quienessomos{
        width: 100vw;
    .quienessomoscontenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    .quienessomosimg img{
        width: 400px;
        }
    }
}

@media (max-width: 520px) {
    #quienessomos{
        width: 100vw;
    }
    .quienessomoscontenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
    .quienessomosimg img {
            width: 50vw;
        }
    }
}

@media (max-width: 455px){
    #quienessomos{
        width: 100vw;
    .quienessomoscontenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    .quienessomosimg img{
        width: 350px;
        }
    }
}

@media (max-width: 404px){
    #quienessomos{
        width: 100vw;
    .quienessomoscontenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        }
    .quienessomosimg img{
        width: 100%;
        }
    }
}

