/*FOOTER*/
#footer {
  background-color: #12130e;
  margin-top: auto;
  bottom: 0;
}
#footer img {
  width: 160px;
}
#footer li {
  list-style: none;
}
#footer .footer__lista {
  margin-top: 40px;
  margin-left: 45%;
  margin-bottom: 20px;
}
#footer .footer__lista a {
  font-weight: 600;
  color: white;
}
#footer .footer__lista a:hover {
  color: #EDF131;
  font-size: 18px;
}
#footer .footer__social {
  margin-right: 10%;
  padding-top: 40px;
  padding-bottom: 40px;
}
#footer .footer__social img {
  width: 20px;
  height: 20px;
}
#footer .footercontenedor {
  display: flex;
  justify-content: space-between;
}

/*SISTEMA RESPONSIVE*/
@media (max-width: 800px) {
  .footercontenedor {
    bottom: 0;
    padding: 100px;
  }
}
@media (max-width: 787px) {
  #footer {
    display: flex;
  }
  .footercontenedor {
    justify-content: flex-start;
    bottom: 0;
  }
}
@media (max-width: 615px) {
  #footer {
    display: flex;
  }
  .footercontenedor {
    width: 50%;
    justify-content: flex-start;
    bottom: 0;
  }
}
@media (max-width: 460px) {
  #footer {
    bottom: 0;
    display: flex;
  }
  .footercontenedor {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .footer__img img {
    height: 90px;
    justify-content: flex-start;
  }
  .footer__lista {
    font-size: 16px;
    height: 90px;
    justify-content: flex-start;
  }
  .footer__social {
    display: none;
  }
}
/*HEADER Y NAV*/
#header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #12130e;
  z-index: 2000;
  top: 0;
}
#header a {
  color: white;
  font-weight: 800;
  padding-right: 40px;
  font-size: 18px;
}
#header a:hover {
  color: #EDF131;
  font-size: 20px;
}
#header img {
  width: 160px;
  align-items: center;
  margin-right: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
* a {
  text-decoration: none;
}

/*SECCION BANNER*/
#main__home {
  min-height: 100vh;
}
#main__home img {
  position: relative;
  width: 100%;
  height: 100vh;
}
#main__home .main__contenido {
  position: absolute;
  display: flex;
  width: 400px;
  left: 40%;
  top: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#main__home .main__button {
  font-weight: 600;
  background-color: #EDF131;
  color: #12130e;
  text-align: center;
  width: 150px;
}
#main__home .main__button a {
  color: black;
}
#main__home .main__button a:hover {
  font-size: 18px;
}
#main__home .main__txt h1 {
  font-weight: 600;
  font-size: 22px;
  color: white;
  padding-bottom: 15px;
}

/*SISTEMA RESPONSIVE*/
@media (max-width: 980px) {
  #main__home {
    display: flex;
  }
  .main__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  img {
    width: 100%;
  }
}
@media (max-width: 660px) {
  #main__home {
    display: flex;
  }
  .main__contenido {
    flex-direction: column;
  }
  .main__contenido .main__txt {
    justify-content: center;
  }
  .main__contenido .main__button {
    justify-content: center;
  }
}
@media (max-width: 520px) {
  #main__home {
    display: flex;
  }
  .main__contenido {
    flex-direction: column;
  }
  .main__contenido .main__txt {
    justify-content: center;
  }
  .main__contenido .main__button {
    justify-content: center;
  }
}
@media (max-width: 480px) {
  #main__home {
    display: flex;
  }
  .main__contenido {
    flex-direction: column;
  }
  .main__contenido .main__txt {
    font-size: 10px;
    justify-content: center;
  }
  .main__contenido .main__button {
    justify-content: center;
  }
}
/*SECCION NIVELES*/
#niveles {
  background-color: #12130e;
  padding: 30px;
}
#niveles img {
  width: 380px;
  height: 280px;
}
#niveles .nivelesh2 h2 {
  font-weight: 600;
  font-size: 32px;
  color: white;
  text-align: center;
  padding: 10px;
}
#niveles .nivelescontenedor {
  display: flex;
  justify-content: space-around;
}
#niveles .nivelescontenedor h3 {
  padding-top: 15px;
  font-weight: 600;
  font-size: 22px;
  color: white;
  text-align: center;
}
#niveles .nivelescontenedor div h3:hover {
  color: #EDF131;
  font-size: 25px;
}

/*SISTEMA RESPONSIVE*/
@media (max-width: 520px) {
  #niveles {
    display: flex;
  }
  .nivelescontenedor {
    flex-direction: column;
  }
}
/*SECCION PARTE DEL CUERPO*/
#cuerpo {
  background-color: #12130e;
  padding: 20px;
  height: 250px;
}
#cuerpo .cuerpo__h2 {
  text-align: center;
  color: white;
  height: 50px;
  padding-bottom: 70px;
  padding-top: 15px;
}
#cuerpo .cuerpo__h2 h2 {
  font-weight: 600;
}
#cuerpo .cuerpo__contenedor {
  height: 150px;
  text-align: center;
}
#cuerpo .cuerpo__button {
  margin-top: 50px;
}
#cuerpo .cuerpo__button a {
  padding: 18px;
  color: black;
  font-weight: 800;
  font-size: 22px;
  background-color: #EDF131;
}
#cuerpo .cuerpo__button a:hover {
  font-size: 25px;
  background-color: #EDF131;
}
#cuerpo .cuerpo__button .dropdown {
  height: 30px;
}

/*SISTEMA RESPONSIVE*/
/*WORKOUTS PAGE*/
#workouts {
  background-color: #12130e;
  padding-bottom: 70px;
}
#workouts a {
  color: white;
}
#workouts p {
  color: white;
  margin-left: 30px;
}
#workouts .workoutsh1 {
  padding-bottom: 30px;
  padding-top: 40px;
  color: white;
  font-weight: 600;
  text-align: center;
}
#workouts .workoutsprincipiante, #workouts .workoutsintermedio, #workouts .workoutsavanzado {
  display: flex;
  margin-top: 40px;
  margin-right: 230px;
  margin-left: 50px;
}
#workouts .workoutscontenedor img {
  width: 350px;
  height: 300px;
}
#workouts .workoutscontenedor a {
  font-size: 24px;
  font-weight: 600;
}

/*SISTEMA RESPONSIVE*/
/*NUTRICION PAGE*/
#nutricion {
  height: 100vh;
  background-color: #12130e;
}
#nutricion img {
  width: 600px;
  height: 450px;
  margin-right: 20px;
}
#nutricion .nutricionh1 {
  text-align: center;
  color: white;
  padding-top: 24px;
  margin-bottom: 28px;
}
#nutricion .nutricioncontenedor {
  display: flex;
}
#nutricion .nutriciontxt p {
  color: white;
  font-family: sans-serif;
}

/*SISTEMA RESPONSIVE*/
@media (max-width: 800px) {
  .nutricioncontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nutricioncontenedor .nutricionimg img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #nutricion {
    width: 100%;
  }
  .nutricioncontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nutricionimg {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 520px) {
  #nutricion {
    width: 100%;
  }
  .nutricioncontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nutricioncontenedor .nutricionimg img {
    width: 50vw;
  }
}
/*CONTACTO PAGE*/
#contacto {
  height: 100vh;
  background-color: #12130e;
}
#contacto .contactoh1 {
  color: white;
  text-align: center;
  font-size: 22px;
}
#contacto .contactocontenedor {
  margin-left: 30px;
  padding-bottom: 76px;
}
#contacto .contactocontenedor h2 {
  color: white;
  margin-bottom: 30px;
  font-size: 24px;
}
#contacto .contactocontenedor label {
  color: white;
  font-size: 22px;
}
#contacto .contactocontenedor input {
  width: 120px;
  height: 22px;
}
#contacto .contactocontenedor textarea {
  resize: none;
  width: 500px;
  height: 250px;
}
#contacto .contactocontenedor .submit {
  background-color: #EDF131;
  color: black;
  text-align: center;
}

/*SISTEMA RESPONSIVE*/
/*QUIENES SOMOS PAGE*/
#quienessomos {
  background-color: #12130e;
  height: 100vh;
}
#quienessomos img {
  width: 600px;
  margin-left: 40px;
  margin-right: 18px;
}
#quienessomos h1 {
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 50px;
}
#quienessomos .quienessomoscontenedor {
  display: flex;
  margin-right: 70px;
}
#quienessomos .quienessomostxt {
  color: white;
}

/*SISTEMA RESPONSIVE*/
@media (max-width: 800px) {
  .quienessomoscontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .quienessomoscontenedor .quienessomosimg img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #quienessomos {
    width: 100%;
  }
  .quienessomoscontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .quienessomosimg {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 520px) {
  #quienessomos {
    width: 100%;
  }
  .quienessomoscontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .quienessomoscontenedor .quienessomosimg img {
    width: 50vw;
  }
}
@media (max-width: 400px) {
  #quienessomos {
    width: 100%;
  }
  .quienessomoscontenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .quienessomosimg img {
    width: 50vw;
  }
  .quienessomostxt p {
    margin-bottom: 90px;
  }
}

/*# sourceMappingURL=style.css.map */
